<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="TTMS.My.MySettings.ConnectionProd" connectionString="Data Source=LPCNU04740M0\SQL2008R2EXPR;Initial Catalog=TTMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TTMS.My.MySettings.ConnectionDev" connectionString="Data Source=LPCNU04740M0\SQL2008R2EXPR;Initial Catalog=TTMS;Integrated Security=True"/>
    <add name="Model1Container" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNU04740M0\SQL2008R2EXPR;initial catalog=TTMS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
