<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="rqtsEntities" connectionString="metadata=res://*/MySqlModel.csdl|res://*/MySqlModel.ssdl|res://*/MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=rqts&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BaseModel.My.MySettings.rqtsConnectionString" connectionString="server=localhost;user id=root;database=rqts;convert zero datetime=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>