<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CATS.My.MySettings.TTMSConnectionString" connectionString="Data Source=LPCNU04740M0\SQL2008R2EXPR;Initial Catalog=TTMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CATS.My.MySettings.MySqlConnection" connectionString="server=localhost;user id=root;database=rqts"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
